* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  position: relative;
  font-family: Quicksand, Arial, sans-serif;
  color: #393b60;
}

a,
a:hover {
  text-decoration: none;
}

/* ===== DEFINE CUSTOM CLASSES ===== */
.color-393B60 {
  color: #393b60 !important;
}

.color-9395A9 {
  color: #9395a9 !important;
}

.color-C3C3CE {
  color: #c3c3ce !important;
}

.color-EE5151 {
  color: #ee5151 !important;
}

.hidden-border {
  border: 2px solid rgba(0, 0, 0, 0);
}

.border-gray {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.no-underline {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.animate {
  transition: all 0.2s ease;
}
/* ===== END OF DEFINE CUSTOM CLASSES ===== */


/* ===== STYLE FOR WOW ANIMATION ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ===== STYLE FOR SLICK SLIDER ===== */
.promotion .slick-arrow {
  position: absolute;
  font-size: 9vw;
  color: rgba(195, 195, 206, 0.8);
  z-index: 1;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

/* .promotion .slick-arrow:hover {
  color: #c3c3ce;
} */

.fa-caret-left {
  left: 1%;
}

.fa-caret-right {
  right: 1%;
}

.wrap-slider .fa-angle-left {
  left: -2%;
}

.wrap-slider .fa-angle-right {
  right: -2%;
}

.promotion .slick-prev:before {
  color: red;
  font-size: 50px;
}

.promotion .slick-next:before {
  color: red;
}

.wrap-slider .slick-arrow {
  position: absolute;
  font-size: 9vh;
  color: #9395a9;
  z-index: 1;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots {
  display: none;
}

.slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255, 0.8);
}

.slick-dots li button:before {
  color: rgba(195, 195, 206, 0.4);
}
/* ===== END OF STYLE FOR SLICK SLIDER ===== */

/* ===== STYLE FOR BODY ===== */
.container {
  max-width: 1920px;
  margin: auto;
}
/* ===== END OF STYLE FOR BODY ===== */

/* ===== STYLE FOR HEADER ===== */
header {
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.5);
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler-icon span {
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 28%;
  background: rgba(57, 59, 96, 1);
}

.navbar .fas {
  font-size: 25px;
  color: #393b60;
}

.navbar .fa-angle-down {
  font-size: 15px;
  color: #9395a9;
}

.navbar-brand {
  text-align: center;
  margin-right: 0;
  width: 60%;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 32px;
}

.cart {
  margin-right: 4%;
}

.navbar-collapse {
  background: #ffffff;
  border-top: 1px solid #c3c3ce;
  border-bottom: 1px solid #c3c3ce;
  margin-top: 4px;
}

.dropdown-menu {
  border-radius: 0 !important;
  background: rgba(195, 195, 206, 0.2);
  border-right: initial;
  border-left: initial;
}

.dropdown-menu-wrap1 {
  display: none;
}

.dropdown-menu-wrap2 {
  margin: auto;
  width: 95%;
}

.dropdown-menu-wrap2 p {
  font-weight: bold;
  margin-bottom: 0;
}

.dropdown-menu-wrap2 a {
  color: rgba(57, 59, 96, 1);
  margin-left: 1rem;
}

.nav-link,
.dropdown-item {
  font-size: 18px;
  padding-left: 3% !important;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: #393b60 !important;
}
/* ===== END OF STYLE FOR HEADER ===== */

/* ===== STYLE FOR MAIN CAROUSEL ===== */
aside {
  margin-top: 70px;
}

.promo1-box {
  width: 50%;
  height: 70%;
  top: 90%;
  left: 5%;
  transform: translate(-5%, -90%);
}

.promo2-box {
  width: 100%;
  height: 70%;
  top: 35%;
  left: 10%;
}

.promo3-box {
  width: 90%;
  height: 60%;
  top: 40%;
  left: 5%;
}

.promo-txt3 a {
  color: #ffffff;
}

.promotion1 .promo-txt1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  right: 0;
  font-size: 9vw;
}

.promotion1 .promo-txt2 {
  font-family: "Dancing Script", Arial, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  top: 40%;
  right: 0;
  font-size: 6vw;
}

.promotion1 .promo-txt3 {
  bottom: 0;
  right: 0;
  padding: 0.2% 3%;
  font-size: 4vw;
  color: #ffffff;
  background-color: #393b60;
  margin-bottom: 0;
}

.promotion2 .promo-txt1 {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 8vw;
}

.promotion2 .promo-txt2 {
  font-family: Jura, Arial, sans-serif;
  color: #c3c3ce;
  top: 35%;
  font-size: 5vw;
}

.promotion2 .promo-txt3 {
  top: 66%;
  padding: 0.2% 1%;
  font-size: 4vw;
  color: #ffffff;
  background-color: #393b60;
}

.promotion3 .promo-txt1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 8vw;
}

.promotion3 .promo-txt2 {
  font-family: Quicksand, Arial, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  top: 34%;
  font-size: 5vw;
  font-style: italic;
}

.promotion3 .promo-txt3 {
  top: 65%;
  left: 30%;
  padding: 0.2% 1%;
  font-size: 4vw;
  color: #ffffff;
  background-color: #393b60;
  transform: skew(-13deg);
}
/* ===== END STYLE FOR MAIN CAROUSEL ===== */

/* ===== STYLE FOR SECTION ===== */
section {
  margin: auto;
}
/* ===== END OF STYLE FOR SECTION ===== */

/* ===== STYLE FOR COLLECTIONS ===== */
.collection {
  width: 90%;
  margin: auto;
  margin-bottom: 4%;
}

.collection a {
  color: rgba(195, 195, 206, 1);
}

.collection > div {
  width: 33%;
  padding-bottom: 27%;
}

.collection-txt p {
  font-size: 3vw;
  font-family: Saira, Arial, sans-serif;
  text-align: center;
}

.collection-item:hover .collection-img {
  transform: scale(0.9);
}

.collection-item:hover .collection-cover {
  background: rgba(82, 84, 121, 0);
}

.collection-cover {
  background: rgba(82, 84, 121, 0.3);
  width: 100%;
  height: 100%;
}

.collection-item {
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

.collection-txt {
  background: rgba(82, 84, 121, 0.8);
  width: 100%;
  height: 33%;
  bottom: 0;
  line-height: 1.2;
  display: flex;
}
/* ===== END OF STYLE FOR COLLECTIONS ===== */

/* ===== STYLE FOR MODAL ===== */
.modal-dialog {
  min-width: 45%;
}

.modal-content,
.btn {
  border-radius: 0;
}

.modal-header {
  display: unset;
}

.modal-title {
  text-align: center;
  font-weight: bold;
}

.modal-img {
  margin: auto;
  width: 24%;
}

.modal-info {
  margin: auto;
  width: 60%;
}

.modal-info p a {
  font-size: 1rem;
  color: #393b60;
}

.modal-price {
  font-size: 1.3rem;
}

.modal-qty {
  font-size: 1.1rem;
}
/* ===== END OF STYLE FOR MODAL ===== */

/* ===== STYLE FOR WRAP 1 ===== */
h3 {
  font-family: Coiny, Arial, sans-serif;
  font-size: 5vw;
}

.wrap-slider {
  padding: 0 5%;
}

.wrap-slider .slick-list {
  padding-bottom: 4%;
}

.wrap1 {
  margin: auto 6%;
}

.homepage .wrap-item {
  width: 98% !important;
  margin-left: 1%;
  padding-bottom: 130%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.wrap-item:hover {
  border: 1px solid rgba(57, 59, 96, 1);
}

.wrap-item:hover .fa-cart-plus {
  opacity: 1;
}

.wrap-item .fa-cart-plus {
  opacity: 1;
  top: 3%;
  left: 3%;
  font-size: 5vw;
}

.promo-symbol {
  width: 30%;
  height: 11%;
  top: 3%;
  right: 3%;
  background: rgba(238, 81, 81, 0.8);
}

.promo-symbol p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-slider .price {
  font-size: 3.6vw;
}

.wrap-slider .old-price {
  font-size: 2.4vw;
}

.wrap-slider .product-name {
  font-size: 3vw;
}

.wrap-slider .info {
  width: 100%;
  bottom: 9%;
}

.wrap-slider .info p {
  display: inline-block;
}

.wrap-slider .price {
  margin-left: 3%;
  font-weight: bold;
}

.wrap-slider .old-price {
  margin-left: 5%;
  color: #9395a9;
  text-decoration: line-through;
}

.wrap-slider .product-name {
  width: 100%;
  left: 3%;
  bottom: 2%;
}
/* ===== END OF STYLE FOR WRAP 1 ===== */

/* ===== STYLE FOR WRAP 2 ===== */
.wrap2 {
  margin: auto 6%;
}
/* ===== END OF STYLE FOR WRAP 2 ===== */

/* ===== STYLE FOR WRAP 3 ===== */
.wrap3 {
  margin: auto 6%;
  margin-top: 60px;
}
/* ===== END OF STYLE FOR WRAP 3 ===== */

/* ===== STYLE FOR WRAP 4 ===== */
.wrap4 {
  margin: auto 6%;
}
/* ===== END OF STYLE FOR WRAP 4 ===== */

/* ===== STYLE FOR ADVERTISEMENT ===== */
.advert {
  background-image: url("images/bg.jpg"); 
  padding-bottom: 40%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advert .ad-box {
  width: 40%;
  height: 40%;
  left: 17%;
  top: 50%;
  transform: translate(-17%, -50%);
  background: rgba(195, 195, 206, 0.4);
}

.advert .ad-txt1 {
  text-align: center;
  width: 100%;
  font-size: 5vw;
  top: 25%;
  transform: translateY(-50%);
}

.advert .ad-txt2 {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-size: 4vw;
  bottom: 30%;
  transform: translateY(40%);
}

.advert .ad-txt2 span {
  font-size: 8vw;
}
/* ===== END OF STYLE FOR ADVERTISEMENT ===== */

/* ===== STYLE FOR FOOTER ===== */
footer {
  color: #ffffff;
  background-color: #393b60;
}

.wrap-footer {
  margin: 3% auto;
  padding-top: 3%;
  width: 80%;
}

.menu-footer p a {
  font-size: 8vw;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  color: #9395a9;
}

.menu-footer p span {
  color: #ffffff;
}

.menu-footer p {
  width: 40%;
}

.menu-footer ul {
  width: 60%;
  text-align: right;
  list-style-type: none;
}

.menu-footer ul a {
  color: #c3c3ce;
}

.address {
  margin-top: 2%;
  color: #c3c3ce;
}

.social {
  margin-top: 5%;
  color: #c3c3ce;
}

.social .fab {
  font-size: 7vw;
  margin-right: 5%;
}

.copyright {
  width: 80%;
  margin: auto;
  color: #9395a9;
  padding-bottom: 2%;
}

/* ===== END OF STYLE FOR FOOTER ===== */

/* ===== STYLE FOR BACK TO TOP ===== */
.back2top {
  color: rgba(238, 81, 81, 0.8);
  font-size: 40px;
  transition: all 0.2s ease;
  right: 20px;
  bottom: 40px;
}

.back2top:hover {
  cursor: pointer;
}

.hide-item {
  opacity: 0;
  cursor: none;
}
/* ===== END OF STYLE FOR BACK TO TOP ===== */

/* ===== STYLE FOR SUPPORT ===== */
.support {
  right: 20px;
  bottom: 0px;
}

.support i {
  font-size: 50px;
  display: inline-block;
  color: rgba(195, 195, 206, 0.8);
}

.support p {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  padding: 2px 12px;
  color: rgba(57, 59, 96, 1);
  background: rgba(195, 195, 206, 0.8);
}
/* ===== END OF STYLE FOR SUPPORT ===== */



/* ================================= */
/* STYLE FOR PAGE LIST OF PRODUCTS */
/* ================================= */
.breadcrumb-lop {
  color: rgba(195, 195, 206, 1);
  margin-left: 8%;
}

.breadcrumb-lop a {
  color: rgba(195, 195, 206, 1);
}

.lop-wrap {
  width: 84%;
  margin: 1% auto auto;
}

.lop-filter {
  margin: 3% auto;
}

.lop-filter a {
  border: 0.5px solid transparent;
}

a.btn:focus {
  box-shadow: none;
  color: #ffffff;
  background: rgba(147, 149, 169, 1);
}

.lop-filter1 {
  display: flex;
  background: rgba(147, 149, 169, 0.2);
}

.lop-filter1 .dropdown {
  display: inline-block;
  width: 40%;
}

.lop-filter1 .dropdown3 {
  width: 30%;
}

.lop-filter1 a {
  width: 100%;
  color: rgba(57, 59, 96, 1);
}

.lop-filter1 .dropdown-menu {
  background: rgba(147, 149, 169, 1);
  color: #ffffff;
  padding-left: 0.75rem;
  margin-top: 0;
  border: none;
}

.lop-filter1 .dropdown3 .dropdown-menu {
  min-width: 14em;
}

.lop-filter1 .dropdown-menu input {
  margin-bottom: 0.5rem;
}

.lop-filter2 {
  padding: .375rem 1rem;
  text-align: right;
}

.lop-filter2 .form-control {
  margin-left: 1rem;
}

.lop-filter2 .form-control:focus {
  box-shadow: none;
}

.lop-filter2 div {
  display: inline-block;
  width: 8rem;
}

.lop-products .row {
  margin-left: 0;
  margin-right: 0;
}

.lop-products .wrap-item {
  padding-bottom: 100%;
  margin-bottom: 3%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.lop-products .wrap-item:hover {
  border: 1px solid rgba(57, 59, 96, 1);
}

.lop-products .fa-cart-plus {
  visibility: visible;
  top: 3%;
  left: 3%;
  font-size: 5vw;
  color: rgba(57, 59, 96, 1);
}

.lop-products .info {
  bottom: 5%;
}

.lop-products .price {
  display: inline-block;
  font-size: 6vw;
  text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

.lop-products .old-price {
  display: inline-block;
  font-size: 4vw;
  text-decoration: line-through;
  color: rgba(147, 149, 169, 1);
}

.lop-products .product-name {
  bottom: 2%;
  font-size: 5vw;
}

.pagination div {
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.2rem;
}

.pagination span {
  margin: 1%;
}

.pagination .far {
  font-size: 1.2rem;
}

.pagination a {
  color: rgba(57, 59, 96, 1);
}

.pagi-mark a {
  padding: 0 1.2%;
  color: #ffffff;
  background: rgba(57, 59, 96, 1);
}

.arrow-lop {
  font-size: 1.5em;
}
/* ================================= */
/* END OF STYLE FOR PAGE LIST OF PRODUCTS */
/* ================================= */


/* ================================= */
/* STYLE FOR PAGE PRODUCT DETAIL */
/* ================================= */
.product-detail .advert {
  margin-top: 70px;
}

.product-detail .breadcrumb-lop {
  margin-top: 3%;
}

.wrap-info-pd {
  width: 84%;
  margin: 15px auto auto;
}

.slideshow-pd .modal-imgs-sub {
  width: 12%;
  margin-top: 6%;
}

.slideshow-pd .modal-imgs-main {
  width: 80%;
  margin-left: 8%;
}

.slideshow-pd .modal-imgs-sub div {
  margin-bottom: 10px;
}

.price-pd {
  font-family: Quicksand, Arial, sans-serif;
  font-weight: bold;
  color: rgba(57, 59, 96, 1);
}

.price-pd .new-price-pd{
  font-size: 1.8rem;
}

.price-pd .old-price-pd{
  font-size: 1rem;
  color: rgba(147, 149, 169, 1);
  text-decoration: line-through;
}

.price-pd > div {
  padding: 5%;
  background: rgba(195, 195, 206, 0.4);
}

.price-pd > div > p > a {
  color: rgba(57, 59, 96, 1);
}

.color-pd {
  margin-top: -4%;
  margin-left: 30%;
}

.color-pd span {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  margin: 0 3%;
  display: inline-block;
}

.color-pd1 {
  background: #000000;
}

.color-pd2 {
  background: #ee5151;
}

.color-pd3 {
  background: #ffffff;
}

.buy-now-pd {
  background: #ee5151;
  color: white;
  margin: 4% auto;
  text-align: center;
  line-height: 40px;
  font-size: 1.4rem;
  height: 40px;
}

.cart-pd {
  background: rgba(57, 59, 96, 1);
  color: white;
  margin: 4% auto;
  text-align: center;
  line-height: 40px;
  font-size: 1.4rem;
  height: 40px;
}

.description-pd {
  width: 84%;
  margin: 2% auto auto;
}

.product-detail .wrap-item {
  width: 98% !important;
  /* margin-right: 1%; */
  padding-bottom: 130%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.product-detail .wrap-item:hover {
  border: 1px solid rgba(57, 59, 96, 1);
}
/* ================================= */
/* END STYLE FOR PAGE PRODUCT DETAIL */
/* ================================= */



/* ================================= */
/* STYLE FOR PAGE CART */
/* ================================= */
.cart-page .advert {
  margin-top: 70px;
}

.cart-page .breadcrumb-lop {
  margin-top: 3%;
}

.cart-steps {
  width: 84%;
  margin: 2% auto;
  text-align: center;
}

.cart-step1 {
  display: inline-block;
  width: 120px;
  height: 80px;
  position: relative;
  background: rgba(57, 59, 96, 1);
  z-index: 1;
}

.cart-step1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.cart-step1:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgba(57, 59, 96, 1);
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.cart-step1 p {
  top: 50%;
  left: 40%;
  position: absolute;
  transform: translate(-25%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.cart-step2 {
  display: inline-block;
  width: 120px;
  height: 80px;
  position: relative;
  background: rgba(195, 195, 206, 1);
}

.cart-step2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.cart-step2:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgba(195, 195, 206, 1);
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.cart-step2 p {
  top: 50%;
  left: 35%;
  position: absolute;
  transform: translate(-15%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.cart-table {
  width: 84%;
  margin: auto;
  font-size: 1.4vw;
}

.cart-table th {
  font-size: 2vw;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  background: rgba(82, 84, 121, 1);
  text-align: center;
  padding: 3% 0;
}

.cart-table th:nth-child(5) span:nth-child(2) {
  display: none;
}

.cart-table td:nth-child(1) {
  width: 5%;
}

.cart-table td:nth-child(1) {
  text-align: center;
}

.cart-table td:nth-child(2) {
  width: 10%;
}

.cart-table td:nth-child(3) {
  min-width: 25%;
  font-size: 2vw;
}

.cart-table td:nth-child(4) {
  width: 10%;
  font-size: 2vw;
  text-align: right;
}

.cart-table td:nth-child(4) span {
  text-decoration: line-through;
  color: rgba(147, 149, 169, 1);
}

.cart-table td:nth-child(5) {
  text-align: center;
}

.cart-table td:nth-child(6) {
  font-size: 2vw;
  text-align: center;
}

.cart-table td:nth-child(7) {
  text-align: center;
}

.cart-table td:nth-child(7) a {
  color: rgba(238, 81, 81, 1);
  font-size: 2vw;
}

.cart-table tr:nth-child(4) {
  font-size: 2vw;
  color: rgba(255, 255, 255, 1);
  background: rgba(82, 84, 121, 1);
}

.cart-table tr:nth-child(4) td {
  padding: 3% 0;
}

.cart-sum-box {
  color: #ffffff;
  background: rgba(82, 84, 121, 1);
  padding: 2% 0;
}

.cart-sum-box1 {
  width: 60%;;
}

.cart-sum-box2 {
  position: relative;
  width: 40%;
}

.cart-sum-type {
  margin-left: 2%;
}

.cart-sum-input {
  margin-left: 2%;
}

.cart-sum-input input {
  width: 20%;
  padding: 2% 0;
}

.cart-sum-input [type="button"] {
  border-width: 0;
  color: #ffffff;
  background: rgba(238, 81, 81, 1);
}

.cart-sum-total {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.cart-sum-number {
  font-size: 3vw;
  right: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cart-next {
  text-align: right;
  margin: 5% 0;
}

.cart-next [type="button"] {
  font-size: 1.2rem;
  padding: 3%;
  border-width: 0;
  color: #ffffff;
  background: rgba(238, 81, 81, 1);
}
/* ================================= */
/* END OF STYLE FOR PAGE CART */
/* ================================= */



/* ================================= */
/* STYLE FOR PAGE ORDER */
/* ================================= */
.order-page .advert {
  margin-top: 70px;
}

.order-page .breadcrumb-lop {
  margin-top: 3%;
}

.order-step2 {
  display: inline-block;
  width: 120px;
  height: 80px;
  position: relative;
  background: rgba(57, 59, 96, 1);
}

.order-step2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.order-step2:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgba(57, 59, 96, 1);
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.order-step2 p {
  top: 50%;
  left: 35%;
  position: absolute;
  transform: translate(-15%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.order-wrap {
  width: 84%;
  margin: auto;
}

.order-methods {
  color: #ffffff;
  background: rgba(57, 59, 96, 1);
}

.order-methods p {
  padding: 1% 2%;
}

.order-info {
  margin-left: 2%;
}

.order-info p,
.order-payment p {
  margin-bottom: 0;
}

.order-info [type="text"] {
  display: block;
  width: 280px;
  padding: 0.3% 1%;
  margin: 1% 5%;
}

.order-info .order-note {
  padding-bottom: 15%;
}

.order-info form p {
  font-style: italic;
  margin-left: 5%;
}

.order-payment {
  margin-left: 2%;
}

.order-payment > div {
  margin-left: 5%;
}

.order-payment > div > div > p {
  font-weight: bold;
  margin-left: 8%;
  margin-bottom: 0.5%;
}

.order-payment > div > p {
  font-style: italic;
  margin-left: 5%;
}

.order-wrap .order-button {
  text-align: right;
}

.order-button input {
  font-size: 1.2rem;
}

.order-back {
  display: inline-block;
  text-align: right;
  margin: 5% 0;
  font-size: 1.5vw;
}

.order-back [type="button"] {
  padding: 8%;
  width: 130px;
  border-width: 0;
  color: #ffffff;
  background: rgba(195, 195, 206, 1);
}

.order-next {
  display: inline-block;
  text-align: right;
  margin: 5% 0;
  font-size: 1.5vw;
}

.order-next [type="button"] {
  padding: 8%;
  width: 130px;
  border-width: 0;
  color: #ffffff;
  background: rgba(238, 81, 81, 1);
}
/* ================================= */
/* END OF STYLE FOR PAGE ORDER */
/* ================================= */


/* ================================= */
/* STYLE FOR PAGE ORDER SUCCESS */
/* ================================= */
.order-success-page .advert {
  margin-top: 70px;
}

.order-success-page .breadcrumb-lop {
  margin-top: 3%;
}

.order-success-wrap {
  width: 84%;
  margin: 2% auto;
}

.order-success-wrap a {
  color: rgba(57, 59, 96, 1);
}
/* ================================= */
/* END STYLE FOR PAGE ORDER SUCCESS */
/* ================================= */

/* ================================= */
/* STYLE FOR PAGE PROMOTION */
/* ================================= */
.promotion-page .advert { 
  margin-top: 70px;
}

.promotion-page .breadcrumb-lop { 
  margin-top: 3%;
}

.promo1,
.promo2,
.promo3 {
  width: 84%;
  padding-bottom: 26%;
  margin: 2% auto;
}

.promo1 .ad-img,
.promo2 .ad-img,
.promo3 .ad-img {
  width: 100%;
}

.promo1 .ad-box {
  width: 100%;
  height: 30%;
  bottom: -17%;
  background: rgba(0, 0, 0, 0.3);
}

.promo1 .ad-txt1 {
  top: 10%;
  right: 10%;
  color: #ffffff;
  font-size: 4vw;
}

.promo1 .ad-txt2 {
  top: 30%;
  right: 5%;
  color: #ffffff;
  font-size: 3vw;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.promo1 .ad-txt2 span {
  color: rgba(238, 81, 81, 1);
  font-size: 10vw;
}

.promo1 .ad-box .ad-txt3 {
  text-align: center;
  font-size: 5vw;
}

.promo2 {
  margin-top: 10%;
}

.promo2 .ad-box1 {
  top: 20%;
  right: 5%;
  width: 40%;
  height: 50%;
  text-align: center;
}

.promo2 .ad-box1 .fa-apple {
  font-size: 10vw;
  left: 40%;
  color: rgba(57, 59, 96, 1);
}

.promo2 .ad-box1 .ad-txt1 {
  font-size: 4vw;
  width: 100%;
  top: 70%;
  color: rgba(57, 59, 96, 1);
}

.promo2 .ad-box2 {
  bottom: -17%;
  right: 0;
  width: 50%;
  height: 34%;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
}

.promo2 .ad-box2 .ad-txt2 {
  font-size: 6vw;
  color: #ffffff;
}

.promo2 .ad-txt2 span {
  color: rgba(238, 81, 81, 1);
  font-weight: bold;
}

.promo3 {
  margin: 10% auto;
}

.promo3 .ad-box {
  width: 70%;
  height: 66%;
  top: 26%;
  left: 15%;
  background: rgba(82, 84, 121, 0.8);
}

.promo3 .ad-box .ad-txt1 {
  font-size: 3vw;
  left: 5%;
}

.promo3 .ad-box .ad-txt1 span {
  font-size: 6vw;
  color: rgba(238, 81, 81, 1);
}

.promo3 .ad-box .ad-txt2 {
  font-size: 3vw;
  left: 5%;
  top: 45%;
}

.promo3 .ad-box .ad-txt3 {
  font-size: 2vw;
  left: 5%;
  top: 70%;
}

.promo3 .ad-box .ad-txt4 {
  font-size: 1.2vw;
  font-style: italic;
  right: 1%;
  bottom: 0;
  margin-bottom: 0;
  color: rgba(195, 195, 206, 1);
}
/* ================================= */
/* END OF STYLE FOR PAGE PROMOTION */
/* ================================= */



/* ================================= */
/* STYLE FOR PAGE CONTACT */
/* ================================= */
.contact-page .advert {
  margin-top: 70px;
}

.contact-page .breadcrumb-lop {
  margin-top: 3%;
}

.contact-info {
  width: 84%;
  margin: 2% auto;
}

.contact-info .contact-circle {
  position: relative;
  width: 40%;
  padding-bottom: 36.5%;
  border: 3px solid rgba(57, 59, 96, 1);
  border-radius: 50%;
  margin: auto;
}

.contact-info .contact-circle .fas {
  position: absolute;
  font-size: 6vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-info .contact-txt {
  font-size: 1.8vw;
  font-weight: bold;
  margin: 2% auto;
}

.contact-info > div {
  width: 33.33%;
  text-align: center;
}

.contact-bank {
  width: 84%;
  margin: 2% auto;
  font-size: 2vw;
}

.contact-bank > div {
  margin-left: 5%;
}

.contact-bank .contact-bank-txt1 {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 0;
}

.contact-bank .contact-bank-txt2 {
  font-style: italic;
}

.contact-us {
  width: 84%;
  margin: 2% auto;
  font-size: 2vw;
}

.contact-form-info {
  display:  block;
}

.contact-form-message {
  display:  block;
  margin: 1%;
}

.contact-us > p {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 0;
}

.contact-us .contact-form-info [type=text] {
  color: rgba(57, 59, 96, 1);
  width: 98%;
  margin: 1%;
  padding: 1%;
  font-size: 3vw;
}

.contact-us .contact-form-info [type=text]::placeholder {
  color: rgba(195, 195, 206, 1);
}

.contact-us .contact-form-info p {
  font-style: italic;
}

.contact-us .contact-form-message [type=text] {
  color: rgba(57, 59, 96, 1);
  width: 100%;
  padding-bottom: 20%;
  padding-left: 1%;
  margin-top: 1%;
  font-size: 3vw;
}

.contact-us .contact-form-message [type=text]::placeholder {
  color: rgba(195, 195, 206, 1);
  vertical-align: top;
}

.contact-next {
  text-align: right;
  margin: 5% auto;
}

.contact-next [type="button"] {
  font-size: 4vw;
  padding: 3%;
  border-width: 0;
  color: #ffffff;
  background: rgba(238, 81, 81, 1);
}
/* ================================= */
/* END OF STYLE FOR PAGE CONTACT */
/* ================================= */



/* ================================= */
/* STYLE FOR PAGE MESSAGE SEND SUCCESS */
/* ================================= */
.message-sent-page .advert {
  margin-top: 70px;
}

.message-sent-page .breadcrumb-lop {
  margin-top: 3%;
}
/* ================================= */
/* END OF STYLE FOR PAGE MESSAGE SEND SUCCESS */
/* ================================= */



/* ================================= */
/* STYLE FOR PAGE DELIVERY */
/* ================================= */
.delivery-page .advert {
  margin-top: 70px;
}

.delivery-page .breadcrumb-lop {
  margin-top: 3%;
}

.delivery-wrap {
  width: 84%;
  margin: 2% auto;
}

.delivery-wrap .delivery-img {
  margin-bottom: 2%;
}
/* ================================= */
/* END OF STYLE FOR PAGE DELIVERY */
/* ================================= */


/* ================================= */
/* STYLE FOR PAGE WARRANTY */
/* ================================= */
.warranty-page .advert {
  margin-top: 70px;
}

.warranty-page .breadcrumb-lop {
  margin-top: 3%;
}

.warranty-wrap {
  width: 84%;
  margin: 2% auto;
}

.warranty-wrap .warranty-img {
  margin-bottom: 2%;
}
/* ================================= */
/* END OF STYLE FOR PAGE WARRANTY */
/* ================================= */


/* Small devices (576px and up) */
@media (min-width: 576px) {
  .navbar-brand {
    width: 70%;
  }

  .cart {
    margin-right: 3%;
  }

  .promotion .slick-slide img {
    transform: scale(1.3);
  }

  h3 {
    font-size: 3.6vw !important;
  }

  section {
    margin: auto;
    margin-top: 3%;
  }

  .wrap-slider .fa-angle-left {
    left: 0;
  }
  
  .wrap-slider .fa-angle-right {
    right: 0;
  }

  .wrap-item .fa-cart-plus {
    opacity: 1;
    font-size: 4vw;
  }

  .wrap-slider .price {
    font-size: 2.5vw;
  }

  .wrap-slider .old-price {
    font-size: 1.5vw;
  }

  .wrap-slider .product-name {
    font-size: 1.8vw;
  }

  .advert .ad-box {
    width: 40%;
    height: 40%;
  }

  .advert .ad-txt1 {
    font-size: 4.4vw;
  }
  
  .advert .ad-txt2 {
    font-size: 3vw;
  }
  
  .advert .ad-txt2 span {
    font-size: 7vw;
  }

  .wrap-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-footer {
    width: 50%;
    order: 1;
  }

  .menu-footer p {
    margin-top: -1.1vw;
  }

  .menu-footer p a {
    font-size: 5vw;
  }
  
  .menu-footer ul {
    width: 50%;
  }
  
  .address {
    order: 3;
    width: 100%;
    margin-top: 2%;
  }
  
  .social {
    order: 2;
    width: 50%;
    margin-top: 0;
  }

  .social .social-icons {
    text-align: right;
  }
  
  .social .fab {
    font-size: 4vw;
    margin-right: 5%;
  }

  .lop-products .wrap-item {
    padding-bottom: 60%;
  }

  .lop-products .fa-cart-plus {
    font-size: 4vw;
  }

  .lop-products .price {
    font-size: 3.5vw;
  }
  
  .lop-products .old-price {
    font-size: 2.6vw;
  }
  
  .lop-products .product-name {
    font-size: 2.6vw;
  }
  
  .cart-step1, .cart-step2 {
    width: 200px;
  }

  .order-step1, .order-step2 {
    width: 200px;
  }

  .cart-next [type="button"] {
    font-size: 1.2rem;
    padding: 10px 2%;
  }

  .contact-us .contact-form-info [type=text] {
    font-size: 1.2rem;
  }

  .contact-us .contact-form-message [type=text] {
    font-size: 1.2rem;
  }

  .contact-next [type="button"] {
    font-size: 1.2rem;
    padding: 10px 2%;
  }
}
/* End Small devices (576px and up) */

/* Medium devices (768px and up) */
@media (min-width: 768px) {
  .wrap-item .fa-cart-plus {
    opacity: 1;
    font-size: 3.6vw;
  }

  .lop-filter {
    display: flex;
  }

  .lop-filter2 {
    padding: 0;
    margin-left: auto;
  }

  .lop-products .wrap-item {
    padding-bottom: 40%;
  }

  .lop-products .fa-cart-plus {
    font-size: 2.2vw;
  }

  .lop-products .price {
    font-size: 2.4vw;
  }
  
  .lop-products .old-price {
    font-size: 1.8vw;
  }
  
  .lop-products .product-name {
    font-size: 1.8vw;
  }

  .cart-table th, .cart-table td {
    font-size: 1.2rem !important;
  }
}

/* Large devices (992px and up) */
@media (min-width: 992px) {
  .navbar-nav {
    width: 100%;
  }

  .navbar-brand {
    width: 16%;
  }

  .nav-link {
    padding-left: 0 !important;
  }

  .nav-item {
    margin-left: 1.2%;
  }

  .navbar-collapse {
    order: 2;
    border: none;
    margin-top: 0;
  }

  .search {
    order: 3;
    width: 4%;
  }

  .cart {
    order: 4;
  }

  header .dropdown-menu-wrap2 {
    display: none;
  }

  header .dropdown-menu-wrap1 {
    margin: 1% auto;
    width: 66%;
    display: flex;
  }

  header .dropdown-menu-wrap1 a {
    color: rgba(57, 59, 96, 1);
    width: 25%;
    margin-right: 3%;
    text-align: center;
  }

  header .dropdown-menu-wrap1 p {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  header .dropdown-menu {
    width: 100%;
    top: 68px;
    position: fixed !important;
    border: none;
    border-top: 1px solid #c3c3ce;
    border-radius: 0;
    background: #ffffff;
    box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.5);
  }

  .brand-list1 p {
    width: 110px;
  }

  .collection-list1 {
    margin: 0 auto auto 5%;
  }

  .collection-list-item {
    display: flex;
  }

  .collection-list-item > div {
    width: 130px;
    display: inline-block;
    margin-right: 3%;
  }
  
  .collection-list-item > div > a {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  .collection-list-item p {
    font-weight: normal;
  }
  
  .collection-list-item a:hover div {
    background: rgba(195, 195, 206, 0.8);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
  }

  .collection > .row > div {
    padding-bottom: 27%;
  }

  .collection-txt p {
    font-size: 2.6vw;
    text-align: center;
  }

  .promo1-box {
    height: 50%;
  }

  .promo2-box {
    height: 50%;
    top: 55%;
  }

  .promo-txt1 {
    font-size: 7vw !important;
  }
  
  .promo-txt2 {
    font-size: 4vw !important;
  }

  .promo-txt3 {
    font-size: 2vw !important;
  }

  .promotion .slick-arrow {
    font-size: 5vw;
  }

  .wrap-item .fa-cart-plus {
    opacity: 0;
    font-size: 2.6vw;
  }

  .lop-products .wrap-item {
    padding-bottom: 30%;
  }

  .lop-products .wrap-item:hover .fa-cart-plus {
    opacity: 1;
  }

  .lop-products .fa-cart-plus {
    font-size: 2.2vw;
    opacity: 0;
  }

  .lop-products .price {
    font-size: 2vw;
  }
  
  .lop-products .old-price {
    font-size: 1.2vw;
  }
  
  .lop-products .product-name {
    font-size: 1.3vw;
  }

  .wrap-slider .price {
    font-size: 1.6vw;
  }

  .wrap-slider .old-price {
    font-size: 1vw;
  }

  .wrap-slider .product-name {
    font-size: 1.2vw;
  }

  .advert .ad-box {
    width: 40%;
    height: 40%;
  }

  .advert .ad-txt1 {
    font-size: 4.4vw;
  }
  
  .advert .ad-txt2 {
    font-size: 3vw;
  }
  
  .advert .ad-txt2 span {
    font-size: 7vw;
  }
  
  .wrap-footer {
    display: flex;
    font-size: 1.2vw;
  }

  .menu-footer {
    width: 35%;
    order: 1;
  }

  .menu-footer p {
    width: 60%;
    font-size: 2vw;
    margin-top: -0.8vw;
  }

  .menu-footer p a {
    font-size: 3.3vw;
  }
  
  .menu-footer ul {
    width: 30%;
    font-size: 1.5vw;
    text-align: left;
  }
  
  .address {
    order: 2;
    width: 40%;
    margin-top: 0;
    font-size: 1.5vw;
  }
  
  .social {
    order: 3;
    width: 25%;
    margin-top: 0;
  }

  .social .social-icons {
    text-align: right;
  }
  
  .social .fab {
    font-size: 2.4vw;
    margin-right: 5%;
  }

/* Style for page list_of_products */
  .wrap-info-pd {
    display: flex;
  }

  .slideshow-pd {
    width: 60%;
  }

  .price-pd {
    width: 40%;
    margin-top: 3%;
  }

  .price-pd .new-price-pd {
    font-size: 2.8vw;
  }

  .price-pd .old-price-pd {
    font-size: 1.5vw;
    color: rgba(195, 195, 206, 1);
    margin-left: 3%;
    text-decoration: line-through;
  }

  .contact-form {
    display: flex;
  }

  .contact-form-info {
    width: 50%;
  }
  
  .contact-form-message {
    width: 50%;
    margin-top: 0;
    text-align: right;
  }

  .contact-us .contact-form-message [type=text] {
    padding-bottom: 22%;
  }

  .contact-bank {
    font-size: 1.2rem;
  }

  .contact-bank .contact-bank-txt1 {
    font-size: 1.5rem;
  }

  .contact-us {
    font-size: 1.2rem;
  }
  
  .contact-us p {
    font-size: 1.5rem;
  }

  .contact-us .contact-form-info p {
    font-size: 1rem;
  }

  .cart-table table {
    width: 100%;
  }

  .cart-table th:nth-child(5) span:nth-child(1) {
    display: none;
  }

  .cart-table th:nth-child(5) span:nth-child(2) {
    display: block;
  }

  
  .cart-table td:nth-child(2) {
    width: 100px;
  }
  
  .cart-table td:nth-child(3) {
    width: 33%;
  }

  .cart-table td:nth-child(4) {
    width: 200px;
  }

}
/* End Large devices (992px and up) */